.error{
    background-color: rgba(163, 163, 163, 0.185);
    padding: 200px;
    height: 100%;
    color: rgb(0, 0, 0);
    font-weight: bold;
    font-size: 30px;
    text-shadow: 2px 2px 6px rgb(196, 196, 196);
}
.error h1{
    font-weight: bold;
   font-size: 60px;
}
.doge{
    width: 200px;
    border: 3px solid crimson;
    border-radius: 50%;
}